# Django #
*.log
*.pot
*.pyc
.env
__pycache__
/__pycache__
/__pycache__/ 

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history