
{% extends 'base.html' %}
{% block title %}Cardápio{% endblock %}
{% block content %}
<h2 class="pb-2 border-bottom">Cardápio</h2>
<p>Selecione o recipiente para montar seu sorvete. A quantidade de bolas de sorvete pode variar, e você pode escolher diferentes sabores.</p>

<div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5">

	{% for emb  in embalagens %}
	<div class="col">
		<a href="" class="link-dark text-decoration-none" data-bs-toggle="modal" data-bs-target="#sabores_{{emb.id}}">
		<div class="card border-0" style="height: 250px; background-size: cover; 
			background-image: url('https://http2.mlstatic.com/D_NQ_NP_917685-MLB49794642888_042022-O.webp');">
			<div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
				<ul class="d-flex list-unstyled mt-auto text-dark">
					<li class="d-flex align-items-center me-3"> 
						<h1>{{emb.tipo}}</h1>
					</li>
					<li class="d-flex align-items-center">
						<svg class="bi me-2" width="1em" height="1em">
							<use xlink:href="#calendar3"></use>
						</svg>
						<h6>{{emb.capacidade_maxima_bolas}} Bolas</h6>
					</li>
				</ul>
			</div>
		</div>
		</a>
	</div>

	{% include "sabores.html" %}

	{% endfor %} 
 
</div> 
{% endblock %}
{% block scripts %}
	<script>
		$(document).ready(function(){
		    $('.dsb').prop('disabled', true);

			function atualizarTotalSelecionado(modalId) {
				var totalSelecionado = 0;
				var saboresSelecionados = [];

				$('.count_'+modalId).each(function() {
					totalSelecionado += parseInt($(this).val());
					
					var saborId = $(this).data('saborid');
					var quantidade = parseInt($(this).val());
					
					if (quantidade > 0) {
						saboresSelecionados.push({
							'sabor_id': saborId,
							'quantidade': quantidade
						});
					}


				});
				$('#resultselsabor_' + modalId).text(totalSelecionado);

				console.log(saboresSelecionados);
				return saboresSelecionados;
			}


			function selCobertura(modalId) {
				var selCobertura= [];
				$('.selcobertura_' + modalId).each(function () {
					var coberturaid = $(this).data('coberturaid');
					var quantidade = parseInt($(this).val());
					if (quantidade > 0) {
						selCobertura.push({
							'cobertura_id': coberturaid,
							'quantidade': quantidade
						});
					}
				});
				console.log(selCobertura);
				return selCobertura;
			}


			function atualizarColorDanger(modalId) {
				$('#impResponse'+modalId).removeClass('bg-success')
				$('#impResponse'+modalId).addClass('bg-secondary')
			}

			function atualizarColorSuccess(modalId) {
				$('#impResponse'+modalId).removeClass('bg-secondary')
				$('#impResponse'+modalId).addClass('bg-success')
			} 

   			$(document).on('click','.plus',function(){
				var modalId = $(this).closest('.modal').data('modalid');  
				var input = $(this).siblings('input.count_'+modalId);  
				var capacidadeMaxima = $('#selsabor_'+modalId).data('capmax');

				var totalSelecionado = 0;
				// Calcular o total selecionado para todos os sabores
				$('.count_'+modalId).each(function() {
					totalSelecionado += parseInt($(this).val()); 
				});

			 	// Calcular o total selecionado para todos os sabores
				if ((totalSelecionado + 1) <= (capacidadeMaxima)) {
					input.val(parseInt(input.val()) + 1);
					atualizarColorDanger(modalId)

					if ((totalSelecionado + 1) == capacidadeMaxima) {
						atualizarColorSuccess(modalId)
					}
				} else { 
					// Excedeu a capacidade máxima  
					atualizarColorSuccess(modalId)
					console.log('Capacidade máxima atingida');

				}

				atualizarTotalSelecionado(modalId);
 
    		});
			
        	$(document).on('click','.minus',function(){
				var modalId = $(this).closest('.modal').data('modalid');
				var input = $(this).siblings('input.count_' + modalId);
    			input.val(parseInt(input.val()) - 1);
    				if (input.val() == -1) {
						input.val(0);
					}
 				atualizarColorDanger(modalId)
				
 				// Atualizar o totalSelecionado após a subtração
				atualizarTotalSelecionado(modalId);
    	    	});
			

			// Coberturas/Adicionais 
			$(document).on('click', '.plus', function(){
				var modalId = $(this).closest('.modal').data('modalid');
				var input = $(this).siblings('input.selcobertura_'+modalId); 
				input.val(parseInt(input.val()) + 1); 
				selCobertura(modalId)
			});
			$(document).on('click', '.minus', function(){
				var modalId = $(this).closest('.modal').data('modalid');
				var input = $(this).siblings('input.selcobertura_'+modalId); 
				input.val(parseInt(input.val()) - 1);
				if (input.val() < 0) {
					input.val(0);
				} 
				selCobertura(modalId)
			});
			
			// Quantidade de itens
			$(document).on('click', '.item_plus, .item_minus', function() {
				var modalId = $(this).closest('.modal').data('modalid');
				var inputQtdPote = $(this).siblings('input.qtdPote_'+modalId); 
				
				var increment = $(this).hasClass('item_plus') ? 1 : -1;
				
				var newValue = parseInt(inputQtdPote.val()) + increment;
				inputQtdPote.val(Math.max(newValue, 1));
			});

			// Coleta itens para sacola 
			$('.btnEnviarSacola').click(function () {
				
				// Obter o modalId do atributo data-modalid
				var modalId = $(this).closest('.modal').data('modalid');
				
				var saboresSelecionados = atualizarTotalSelecionado(modalId);

				var coberturaSelecionadas = selCobertura(modalId);

				var quantidade_pote = parseInt($('.qtdPote_' + modalId).val()) || 1;

				var dados = {
					'embalagem_id': modalId,
					'sabores_selecionados': saboresSelecionados,
					'cobertura_selecionadas': coberturaSelecionadas,
					'quantidade_pote': quantidade_pote
				};
				console.log(dados);
				
				// Faça uma solicitação AJAX para a view Django
				$.ajax({
					type: 'POST',
					url: "{% url 'adicionar_sacola' %}",  // Substitua pela URL correta
					data: {
						'dados': JSON.stringify(dados),
						'csrfmiddlewaretoken': '{{ csrf_token }}'  // Token CSRF
					},
					dataType: 'json', 
					success: function (response) {
						// Handle a resposta da view aqui
						if (response.status === 'success') {
							console.log('Itens adicionados à sacola com sucesso!');
							location.reload();
						} else {
							console.error('Erro ao adicionar itens à sacola:', response.message);
						}
					},
					error: function (xhr, status, error) {
						console.error('Erro na solicitação AJAX:', error);
					}
				}); 





				
			});




 		});
	</script>
{% endblock scripts %}