
{% extends 'base.html' %}
{% block title %}Cardápio{% endblock %}
{% block content %}
<h2 class="pb-2 border-bottom">Cardápio</h2>
<p>Selecione o recipiente para montar seu sorvete. A quantidade de bolas de sorvete pode variar, e você pode escolher diferentes sabores.</p>

<div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5">

	{% for emb  in embalagens %}
	<div class="col">
		<a href="" class="link-dark text-decoration-none" data-bs-toggle="modal" data-bs-target="#sabores_{{emb.id}}">
		<div class="card border-0" style="height: 250px; background-size: cover; 
			background-image: url('https://http2.mlstatic.com/D_NQ_NP_917685-MLB49794642888_042022-O.webp');">
			<div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
				<ul class="d-flex list-unstyled mt-auto text-dark">
					<li class="d-flex align-items-center me-3"> 
						<h1>{{emb.tipo}}</h1>
					</li>
					<li class="d-flex align-items-center">
						<svg class="bi me-2" width="1em" height="1em">
							<use xlink:href="#calendar3"></use>
						</svg>
						<h6>{{emb.capacidade_maxima_bolas}} Bolas</h6>
					</li>
				</ul>
			</div>
		</div>
		</a>
	</div>

	{% include "sabores.html" %}

	{% endfor %} 
 
</div> 
{% endblock %}
{% block scripts %}
	<script>
		$(document).ready(function(){
		    $('.count').prop('disabled', true);

			function atualizarTotalSelecionado(modalId) {
				var totalSelecionado = 0;
				$('.count_'+modalId).each(function() {
					totalSelecionado += parseInt($(this).val());
				});
				$('#resultselsabor_' + modalId).text(totalSelecionado);
			}

			function atualizarColorDanger(modalId) {
				$('#impResponse'+modalId).removeClass('bg-success')
				$('#impResponse'+modalId).addClass('bg-secondary')
			}

			function atualizarColorSuccess(modalId) {
				$('#impResponse'+modalId).removeClass('bg-secondary')
				$('#impResponse'+modalId).addClass('bg-success')
			} 

   			$(document).on('click','.plus',function(){
				var modalId = $(this).closest('.modal').data('modalid');  
				var input = $(this).siblings('input.count_'+modalId);  
				var capacidadeMaxima = $('#selsabor_'+modalId).data('capmax');

				var totalSelecionado = 0;
				// Calcular o total selecionado para todos os sabores
				$('.count_'+modalId).each(function() {
					totalSelecionado += parseInt($(this).val()); 
				});

			 	// Calcular o total selecionado para todos os sabores
				if ((totalSelecionado + 1) <= (capacidadeMaxima)) {
					input.val(parseInt(input.val()) + 1);
					atualizarColorDanger(modalId)

					if ((totalSelecionado + 1) == capacidadeMaxima) {
						atualizarColorSuccess(modalId)
					}
				} else { 
					// Excedeu a capacidade máxima  
					atualizarColorSuccess(modalId)
					console.log('Capacidade máxima atingida');

				}

				atualizarTotalSelecionado(modalId);
 
    		});
			
        	$(document).on('click','.minus',function(){
				var modalId = $(this).closest('.modal').data('modalid');
				var input = $(this).siblings('input.count_' + modalId);
    			input.val(parseInt(input.val()) - 1);
    				if (input.val() == -1) {
						input.val(0);
					}
 				atualizarColorDanger(modalId)
				
 				// Atualizar o totalSelecionado após a subtração
				atualizarTotalSelecionado(modalId);
    	    	});
			

			// Coberturas/Adicionais 
			$(document).on('click', '.plus', function(){
				var modalId = $(this).closest('.modal').data('modalid');
				var input = $(this).siblings('input.selcobertura_'+modalId); 
				input.val(parseInt(input.val()) + 1); 
			});
			$(document).on('click', '.minus', function(){
				var modalId = $(this).closest('.modal').data('modalid');
				var input = $(this).siblings('input.selcobertura_'+modalId); 
				input.val(parseInt(input.val()) - 1);
				if (input.val() < 0) {
					input.val(0);
				} 
			});
			
			// Quantidade de itens
			$(document).on('click', '.item_plus, .item_minus', function() {
				var modalId = $(this).closest('.modal').data('modalid');
				var inputQtdPote = $(this).siblings('input.qtdPote_'+modalId); 
				
				var increment = $(this).hasClass('item_plus') ? 1 : -1;
				
				var newValue = parseInt(inputQtdPote.val()) + increment;
				inputQtdPote.val(Math.max(newValue, 1));
			});

 
 		});
	</script>
{% endblock scripts %}