{% extends 'base.html' %}

{% block title %}Início{% endblock %}

{% block content %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-bold text-body-emphasis">Conto Gelado - Açaí e Sorvetes</h1>
    <p class="fs-5 text-body-secondary mb-4">Bem-vindo ao Conto Gelado, o seu destino para sabores gelados e momentos especiais!</p>
    <p class="fs-5 text-body-secondary mb-4">Agora, com nosso cardápio online e serviço de entrega, você pode desfrutar dos nossos deliciosos sorvetes no conforto da sua casa. Explore nossa diversificada seleção de sabores, desde os clássicos até opções veganas. Garantimos entregas rápidas e frescas, trazendo a alegria do Conto Gelado até você. Celebramos momentos e indulgências do dia a dia.</p>
    <p class="fs-5 text-body-secondary mb-4">Faça seu pedido e permita-nos adoçar seus dias com a magia do sorvete.</p>
    <a class="btn btn-dark btn-lg" href="{% url 'cardapio' %}" role="button">Ver Cardápio</a>
</div>
{% endblock %}
