{% extends 'base.html' %}
{% block title %}Meus Pedidos{% endblock %}
{% block content %} 
<div class="container mt-5">
    <div class="mb-5">
        <h2 class="text-primary mb-3">Meus Pedidos</h2>
        <p class="text-muted">Lista de pedidos ativos que estão em processamento.</p>
        <div class="d-flex gap-3 justify-content-center align-items-stretch flex-wrap">
            {% for mp in meus_pedidos %}
            {% if not mp.entrega %}
            <div class="card shadow-lg p-3 bg-warning rounded-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Data do Pedido: {{ mp.data_pedido|date:"d/m/Y" }}</h5>
                    <p class="card-text">
                        <strong>Pedido Enviado:</strong> 
                        {% if not mp.status %}
                            <i class="fas fa-check-circle text-success"></i>
                        {% else %}
                            <i class="fas fa-times-circle text-danger"></i>
                        {% endif %}
                    </p>
                    <p class="card-text">
                        <strong>Status do Pagamento:</strong> 
                        {% if mp.pago %}
                            <i class="fas fa-check-circle text-success"></i>
                        {% else %}
                            <i class="fas fa-times-circle text-danger"></i>
                        {% endif %}
                    </p>
                    <p class="card-text">
                        <strong>Status da Entrega:</strong> 
                        {% if mp.entrega %}
                            <i class="fas fa-check-circle text-success"></i>
                        {% else %}
                            <i class="fas fa-times-circle text-danger"></i>
                        {% endif %}
                    </p>
                    <button type="button" class="btn btn-success w-100 whatsapp-btn" data-id="{{ mp.id }}">
                        Acompanhar pelo WhatsApp
                    </button>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="mb-5">
        <h2 class="text-primary mb-3">Histórico de Pedidos</h2>
        <p class="text-muted">Lista de pedidos já finalizados.</p>
        <table class="table table-bordered table-striped table-hover align-middle">
            <thead class="table-dark">
                <tr>
                    <th>Data do Pedido</th>
                    <th>Pedido Realizado</th>
                    <th>Status do Pagamento</th>
                    <th>Status da Entrega</th>
                </tr>
            </thead>
            <tbody>
                {% for mp in meus_pedidos %}
                {% if mp.pago and mp.entrega %}
                <tr>
                    <td>{{ mp.data_pedido|date:"d/m/Y" }}</td>
                    <td class="text-center">
                        {% if not mp.status %}
                            <i class="fas fa-check-circle text-success"></i>
                        {% else %}
                            <i class="fas fa-times-circle text-danger"></i>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if mp.pago %}
                            <i class="fas fa-check-circle text-success"></i>
                        {% else %}
                            <i class="fas fa-times-circle text-danger"></i>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if mp.entrega %}
                            <i class="fas fa-check-circle text-success"></i>
                        {% else %}
                            <i class="fas fa-times-circle text-danger"></i>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}  
<script>
    $(document).ready(function() {
        $('.whatsapp-btn').click(function() {
            var id = $(this).data('id'); 
            $.ajax({
                url: "{% url 'enviar_whatsapp_pedido' %}", // Substitua pela URL correta
                type: 'POST',
                data: {
                    'pedido_id': id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}' // Token CSRF
                },
                success: function(data) { 
                    // Feche o modal se necessário 
                    console.log(data)
                },
                error: function(error) {
                    console.log(error);
                    alert('Erro ao atualizar o pedido.');
                }
            });
        });
  });
  </script> 
{% endblock scripts %}