{% extends 'base.html' %}
{% block title %}Checkout Pedido{% endblock %}
{% block content %} 

<h2 class="pb-2 border-bottom">Meu Pedido: <span class="text-success fs-bold">N° {{pedido.id}}</span></h2>

<p>Revise seu pedido para finaliza-lo. Ao finalizar vamos abrir o whatsapp para confirmação de pagamento.</p>

<div class="d-flex">  
    
	<form class="p-2 flex-fill" method="post" 
        action="{% if total_itens > 0 %}{% url 'checkout_pedido' %}{% endif %}">
        {% csrf_token %}
        <h4 class="mb-3 text-primary">Endereço de Entrega</h4> 
        <div class="d-flex gap-2">
            <input type="text" class="form-control form-control-sm" id="cep" name="cep" maxlength="8" placeholder="CEP: 00000-000">
            <input type="text" class="form-control form-control-sm" id="numero_casa" name="numero_casa" maxlength="8" placeholder="Número Casa">
        </div>
        {{form}}
        <button type="submit" class="btn btn-success mt-3">Finalizar Pedido</button>
    </form>

    <div class="p-2 flex-fill">
			
        <!-- Lista de Itens -->
        {% include 'components/lista-itens.html' %}
        
    </div> 
</div>
{% endblock %}