<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="sidebarSacolaLabel">Sacola de Itens</h5>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<h4 class="d-flex justify-content-between align-items-center mb-3">
			<span class="text-primary">Meus Itens</span>
			<span class="badge bg-primary rounded-pill">3</span>
		</h4>
		<ul class="list-group mb-3">
			<li class="list-group-item d-flex justify-content-between lh-sm">
				<div class="text-start">
					<h6 class="my-0">Pote 1L</h6>
					<small class="text-body-secondary">6x morango;6x chocolate 1x cobertura de chocolate</small>
				</div>
				<span class="text-body-secondary">R$ 12,80</span>
			</li>
			<li class="list-group-item d-flex justify-content-between lh-sm">
				<div class="text-start">
					<h6 class="my-0">Pote 1/5L</h6>
					<small class="text-body-secondary">6x morango;6x chocolate 1x cobertura de chocolate</small>
				</div>
				<span class="text-body-secondary">R$ 8,80</span>
			</li>  
			<li class="list-group-item d-flex justify-content-between">
				<span>Total (R$)</span>
				<strong>R$ 20,99</strong>
			</li>
		</ul> 
 		<button type="button" class="btn btn-success">Ir para checkout</button> 
	</div>
</div>