<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="sidebarSacolaLabel">Sacola de Itens</h5>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>

	<div id="messageAlert"></div>
	
	<div class="offcanvas-body">
		<h4 class="d-flex justify-content-between align-items-center mb-3">
			<span class="text-primary">Meus Itens</span>
			<span class="badge bg-primary rounded-pill">{{total_itens}}</span>
		</h4>
		
		{% include 'components/lista-itens.html' %}
		
		<button type="button" class="btn btn-success btn-lg">
			<a href="{% if total_itens > 0 %}{% url 'checkout_pedido' %}{% endif %}" class="link-light text-decoration-none">
				Ir para checkout</a>
		</button> 
	</div>
</div>